@import 'compass';

.slider-tabs {
    position: relative;
    margin-bottom: 20px;
    height: 42px;
    line-height: 42px;

    .slide-container {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: -6px;
        margin-left: -46px;
        width: 92px;
        height: 66px;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .viewport {
        overflow: hidden;
    }

    .scroll {
        @include display-flex;

        // Animation
        &.snap {
            @include single-transition(all, 0.1s, ease-in);
        }
    }

    .slider-tab {
        @include flex(1);
        overflow: hidden;
        height: 100%;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        > a {
            display: block;
        }

    }

}
