@charset "UTF-8";
@import 'compass';

// Stolen from ionic for better support
@mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
@mixin flex($fg: 1, $fs: null, $fb: null) {
    -webkit-box-flex: $fg;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

.slider-tabs {
    position: relative;
    margin-bottom: 20px;
    height: 42px;
    line-height: 42px;

    .slide-container {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: -6px;
        margin-left: -46px;
        width: 92px;
        height: 66px;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .viewport {
        overflow: hidden;
    }

    .scroll {
        @include display-flex();

        // Animation
        &.snap {
            @include transition(all 0.1s ease-in);
        }
    }

    .slider-tab {
        @include flex(1);
        overflow: hidden;
        height: 100%;
        width: 0;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        > a {
            display: block;
        }

    }

}
